
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');


*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #333;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding: 2rem 0;
    color: #F1F1F1;
    font-size: 2em;
}

.container__search {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search__pokemon {
    margin: 1.8rem 0 1.48rem 0;
    position: relative;
    display: flex;
}

.search__pokemon input {
    padding: 0.9rem;
    border: none;
    border-radius: 0.18rem 0 0 0.18rem;
    font-size: 1.2rem;
    background-color: #F1F1F1;
    width: 45rem;
}

.search__pokemon label {
    position: absolute;
    color: #333;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 0.5rem;
    transition: all 0.3s ease-in;
}

.search__pokemon span {
    margin-left: 0.25rem;
    border-radius: 0 0.18rem 0.18rem 0;
    padding: 0.93rem;
    width: 4rem;
    height: 4rem;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__img {
    height: 2.5rem;
    width: 2.5rem;
}

/******************************* animation input *******************************/

.search__pokemon:focus-within label,
.search__pokemon.input__active label {
    top: -0.93rem;
    padding-left: 0.31rem;
    color: #f1f1f1;
}

/******************************* list cards *******************************/

.container {
    width: 70%;
    max-width: 68.7rem;
    height: auto;
    margin: 0 auto;
    position: relative;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.list__pokemon li {
    width: 15.6rem;
    height: auto;
    padding: 0.93rem;
    margin: 0.31rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2%;
    border: 0.3rem solid;
}

.list__pokemon h5 {
    font-size: 1.18em;
}

.list__pokemon p {
    font-size: 1.12em;
}
/******************************* Button *******************************/

.button{
    display: none;
}


/******************************* Loader *******************************/

.loader {
    position: absolute;
    top: 15.5rem;
    left: 25%;
    display: flex;
    width: 10rem;
    height: 10rem;
    border: 1rem solid;
    border-color: #ee1515 transparent #f0f0f0 transparent;
    border-radius: 50%;
    animation: tourne 1.2s linear infinite;
    z-index: 99;
}

.loader__dot {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color:#f0f0f0;
    border: #222224 0.20rem solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes tourne {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/******************************* arrow top *******************************/
footer {
    position: fixed;
    bottom: 0;
    right: 1rem;
}


footer img {
    width: 4rem;
    height: 4rem;
    margin-right: 0.8rem; 
}

/******************************* Media Queries *******************************/

@media only screen and (max-width: 560px) {

    body {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    .list__pokemon li {
        width: 100vw;
    }

    .search__pokemon input {
        max-width: max-content;
    }

    .container {
        width: 100vw;
    }

    .loader {
        top: 10.5rem;
        left: 25%;  
    }

    h1 {
        line-height: 1.6;
    }

    .button{
        display: flex;
        padding: 0.6rem;
        margin-bottom: 1.5rem;
        border-radius: 2rem;
        background-color:#F1F1F1;
        cursor: pointer;
    }

    footer img {
        background-color: #333;
        width: 2rem;
        height: 2rem;
        border-radius: 3%;
    }

    footer {
        right: 0;
    }  
}


@media only screen and (min-width: 560px) and (max-width: 992px) {

    .loader {
        top: 10.5rem;
        left: 38%;
    }

    .search__pokemon input {
        width: 20rem;
    }
}